Repository Qiskit/qiskit-addon-cutting, pull requests merged in 2023-09, with the labels that each got.

#407 Temporarily remove Qiskit Nature from dev version tests
  .github/workflows/test_development_versions.yml
Labels: forging, cicd

#391 Refactor reconstruct_expectation_values
  circuit_knitting/cutting/cutting_evaluation.py
  circuit_knitting/cutting/cutting_experiments.py
  circuit_knitting/cutting/cutting_reconstruction.py
  releasenotes/notes/refactor-evaluate-05fe26e94ff68166.yaml
  releasenotes/notes/refactor-reconstruct-45e00c3df1bdd4ff.yaml
  test/cutting/test_cutting_evaluation.py
  test/cutting/test_cutting_reconstruction.py
Labels: cutting

#409 Move experiment generation code to cutting_experiments.py
  circuit_knitting/cutting/cutting_evaluation.py
  circuit_knitting/cutting/cutting_experiments.py
  test/cutting/test_cutting_evaluation.py
  test/cutting/test_cutting_experiments.py
Labels: cutting, code quality

#392 Add a release badge
  README.md
Labels: documentation

#412 `generate_cutting_experiments` returns coefficients, not weights
  circuit_knitting/cutting/cutting_experiments.py
  test/cutting/test_cutting_experiments.py
Labels: cutting

#410 Make the cutting workflow work with any `Hashable` as label
  circuit_knitting/cutting/cutting_decomposition.py
  circuit_knitting/cutting/cutting_evaluation.py
  circuit_knitting/cutting/cutting_experiments.py
  circuit_knitting/cutting/cutting_reconstruction.py
  test/cutting/test_cutting_workflows.py
Labels: enhancement, cutting

#415 Use "raise from" in `except` blocks
  circuit_knitting/cutting/cutting_experiments.py
  circuit_knitting/cutting/cutting_reconstruction.py
Labels: cutting

#413 Deprecate `execute_experiments()`
  circuit_knitting/cutting/cutting_decomposition.py
  circuit_knitting/cutting/cutting_evaluation.py
  docs/circuit_cutting/how-tos/how_to_generate_exact_quasi_dists_from_sampler.ipynb
  docs/circuit_cutting/how-tos/how_to_generate_exact_sampling_coefficients.ipynb
  docs/circuit_cutting/how-tos/how_to_specify_cut_wires.ipynb
  releasenotes/notes/deprecate-execute_experiments-b96e39653546dcc1.yaml
  test/cutting/test_cutting_decomposition.py
  test/cutting/test_cutting_evaluation.py
  test/cutting/test_cutting_roundtrip.py
  test/cutting/test_cutting_workflows.py
Labels: cutting

#404 Rework tutorials to use the new workflow
  docs/circuit_cutting/explanation/index.rst
  docs/circuit_cutting/tutorials/01_gate_cutting_to_reduce_circuit_width.ipynb
  docs/circuit_cutting/tutorials/02_gate_cutting_to_reduce_circuit_depth.ipynb
  docs/circuit_cutting/tutorials/03_wire_cutting_via_move_instruction.ipynb
Labels: cutting

#146 Enable a reduced set of pylint checks
  circuit_knitting/cutting/cutqc/wire_cutting.py
  circuit_knitting/forging/entanglement_forging_ansatz.py
  circuit_knitting/forging/entanglement_forging_operator.py
  pyproject.toml
  tox.ini
Labels: code quality

#418 Migrate from `bind_parameters` to `assign_parameters`
  circuit_knitting/forging/entanglement_forging_knitter.py
  circuit_knitting/utils/simulation.py
  docs/circuit_cutting/cutqc/tutorials/tutorial_1_automatic_cut_finding.ipynb
  docs/circuit_cutting/cutqc/tutorials/tutorial_3_cutting_with_quantum_serverless.ipynb
Labels: code quality

#420 Configure mergify to perform stable backports
  .mergify.yml
Labels: cicd

#425 Use parameterless gates where possible
  circuit_knitting/cutting/qpd/qpd.py
  test/cutting/qpd/test_qpd.py
  test/cutting/qpd/test_qpd_basis.py
Labels: cutting
