Repository Qiskit/qiskit-addon-cutting, pull requests merged in 2023-08, with the labels that each got.

#345 Fix sphinx build by depending on ipykernel directly
  pyproject.toml
Labels: dependencies

#344 Pin black's major version only
  pyproject.toml
Labels: dependencies, code quality

#348 Fix description of `partition_problem` in wire cutting tutorial
  docs/circuit_cutting/tutorials/03_wire_cutting_via_move_instruction.ipynb
Labels: documentation, cutting

#354 Add version tables to all circuit cutting notebooks
  docs/circuit_cutting/how-tos/how_to_generate_exact_quasi_dists_from_sampler.ipynb
  docs/circuit_cutting/how-tos/how_to_generate_exact_sampling_coefficients.ipynb
  docs/circuit_cutting/tutorials/01_gate_cutting_to_reduce_circuit_width.ipynb
  docs/circuit_cutting/tutorials/02_gate_cutting_to_reduce_circuit_depth.ipynb
  docs/circuit_cutting/tutorials/03_wire_cutting_via_move_instruction.ipynb
Labels: documentation, cutting

#350 Fix `partition_problem`'s handling of unlabeled `TwoQubitQPDGate`s
  circuit_knitting/cutting/cutting_decomposition.py
  test/cutting/test_cutting_decomposition.py
Labels: bug, cutting

#307 Support freezing Hartree-Fock energies at each forging iteration
  circuit_knitting/forging/entanglement_forging_ground_state_solver.py
  circuit_knitting/forging/entanglement_forging_knitter.py
  docs/entanglement_forging/explanation/figs/fixed_hf.png
  docs/entanglement_forging/explanation/index.rst
  releasenotes/notes/fixed-hartree-fock-447c33a956ffea84.yaml
  test/forging/test_data/H2O_0.90_one_body.npy
  test/forging/test_data/H2O_0.90_two_body.npy
  test/forging/test_entanglement_forging_ground_state_solver.py
Labels: enhancement, forging

#333 Dont batch unless separate samplers are used for each subcircuit
  circuit_knitting/cutting/cutting_evaluation.py
  releasenotes/notes/batch-by-sampler-c4ae836df9997b1d.yaml
Labels: quantum performance, cutting

#357 Use multiple samplers sometimes in the roundtrip tests
  test/cutting/test_cutting_roundtrip.py
Labels: tests, cutting

#326 Add CutWire instruction class
  circuit_knitting/cutting/__init__.py
  circuit_knitting/cutting/cut_wire_to_move.py
  circuit_knitting/cutting/instructions/__init__.py
  circuit_knitting/cutting/instructions/cut_wire.py
  test/cutting/test_cut_wire_to_move.py
Labels: enhancement, cutting

#367 Allow `partition_labels` to be determined automatically in `partition_problem`
  circuit_knitting/cutting/cutting_decomposition.py
  circuit_knitting/cutting/qpd/instructions/qpd_gate.py
  circuit_knitting/utils/transforms.py
  releasenotes/notes/automatic-partition-labels-f90428f66ec5543a.yaml
  test/cutting/test_cutting_decomposition.py
Labels: enhancement, cutting

#365 Avoid unpacking `PartitionedCuttingProblem` in tutorials & how-tos
  docs/circuit_cutting/how-tos/how_to_generate_exact_quasi_dists_from_sampler.ipynb
  docs/circuit_cutting/how-tos/how_to_generate_exact_sampling_coefficients.ipynb
  docs/circuit_cutting/tutorials/01_gate_cutting_to_reduce_circuit_width.ipynb
  docs/circuit_cutting/tutorials/03_wire_cutting_via_move_instruction.ipynb
Labels: documentation, cutting

#371 Rename `QPDBasis.from_gate()` to `QPDBasis.from_instruction()`
  circuit_knitting/cutting/__init__.py
  circuit_knitting/cutting/qpd/__init__.py
  circuit_knitting/cutting/qpd/instructions/qpd_gate.py
  circuit_knitting/cutting/qpd/qpd.py
  circuit_knitting/cutting/qpd/qpd_basis.py
  docs/circuit_cutting/how-tos/how_to_generate_exact_sampling_coefficients.ipynb
  releasenotes/notes/qpd_basis_from_instruction-6f46489c395ba20b.yaml
  test/cutting/qpd/test_qpd.py
  test/cutting/qpd/test_qpd_basis.py
  test/cutting/test_cutting_decomposition.py
  test/cutting/test_cutting_workflows.py
Labels: cutting

#368 Add single-qubit wire cutting how-to and `expand_observables` function
  circuit_knitting/cutting/__init__.py
  circuit_knitting/cutting/cut_wire_to_move.py
  docs/circuit_cutting/how-tos/README.rst
  docs/circuit_cutting/how-tos/how_to_specify_cut_wires.ipynb
  test/cutting/test_cut_wire_to_move.py
Labels: documentation, cutting

#285 Introduce Dynamic Definition function to the wire cutting modules.
  circuit_knitting/cutting/cutqc/__init__.py
  circuit_knitting/cutting/cutqc/dynamic_definition.py
  circuit_knitting/cutting/cutqc/wire_cutting.py
  circuit_knitting/cutting/cutqc/wire_cutting_post_processing.py
  releasenotes/notes/cutqc-dynamic-definition-78f8bdfe82c9f839.yaml
  test/cutting/test_cutqc.py
Labels: enhancement, cutqc

#370 Use automatic `partition_labels` in new `CutWire` how-to
  circuit_knitting/cutting/__init__.py
  circuit_knitting/cutting/wire_cutting_transforms.py
  docs/circuit_cutting/how-tos/how_to_specify_cut_wires.ipynb
  docs/circuit_cutting/tutorials/03_wire_cutting_via_move_instruction.ipynb
  test/cutting/test_wire_cutting_transforms.py
Labels: documentation, enhancement, cutting

#377 Fix double-nesting of cutting tutorials & how-tos in table of contents
  docs/circuit_cutting/how-tos/README.rst
  docs/circuit_cutting/how-tos/index.rst
  docs/circuit_cutting/tutorials/index.rst
Labels: documentation, stable backport potential

#379 Add support for `CSXGate().inverse()`
  circuit_knitting/cutting/qpd/qpd.py
  test/cutting/qpd/test_qpd.py
  test/cutting/test_cutting_roundtrip.py
Labels: cutting, stable backport potential

#389 Add "backwards compatibility" tests based on v0.3 tutorials
  test/cutting/test_backwards_compatibility.py
Labels: tests

#381 move verbose sections in tutorials to explanation
  docs/circuit_cutting/explanation/index.rst
  docs/circuit_cutting/tutorials/01_gate_cutting_to_reduce_circuit_width.ipynb
  docs/circuit_cutting/tutorials/02_gate_cutting_to_reduce_circuit_depth.ipynb
  docs/circuit_cutting/tutorials/03_wire_cutting_via_move_instruction.ipynb
Labels: documentation, cutting, stable backport potential
