Repository Qiskit/qiskit-addon-cutting, pull requests merged in 2024-03, with the labels that each got.

#429 Add support for Python 3.12
  .github/workflows/test_latest_versions.yml
  INSTALL.rst
  pyproject.toml
  tox.ini
Labels: dependencies

#499 Dev tests should test against qiskit `main`, not stable branch
  .github/workflows/test_development_versions.yml
Labels: cicd

#498 Find cuts updates
  circuit_knitting/cutting/__init__.py
  circuit_knitting/cutting/cut_finding/__init__.py
  circuit_knitting/cutting/cut_finding/cut_finding.py
  circuit_knitting/cutting/cutting_decomposition.py
  docs/circuit_cutting/tutorials/04_automatic_cut_finding.ipynb
  test/cutting/test_cutting_decomposition.py
Labels: cutting

#507 Add support for `SamplerV2`
  README.md
  circuit_knitting/cutting/cutting_reconstruction.py
  pyproject.toml
  releasenotes/notes/bump-dependency-versions-d5dc3b10ba842f2d.yaml
  releasenotes/notes/cutting-samplerv2-603b0c631a3330df.yaml
  test/cutting/test_cutting_reconstruction.py
  test/cutting/test_cutting_workflows.py
Labels: enhancement, cutting

#500 Update cutting tutorials to send ISA circuits to Qiskit Runtime
  docs/circuit_cutting/tutorials/01_gate_cutting_to_reduce_circuit_width.ipynb
  docs/circuit_cutting/tutorials/02_gate_cutting_to_reduce_circuit_depth.ipynb
  docs/circuit_cutting/tutorials/03_wire_cutting_via_move_instruction.ipynb
Labels: documentation, cutting, stable backport potential

#510 Split `qpd.py` code into three files
  circuit_knitting/cutting/qpd/__init__.py
  circuit_knitting/cutting/qpd/decompose.py
  circuit_knitting/cutting/qpd/decompositions.py
  circuit_knitting/cutting/qpd/qpd.py
  circuit_knitting/cutting/qpd/qpd_basis.py
  circuit_knitting/cutting/qpd/weights.py
  releasenotes/notes/qpd_py_gone-854d6fd5d070f844.yaml
  test/cutting/qpd/test_qpd.py
Labels: qpd, cutting, code quality

#514 Lower the nbmake cell timeout to 5 minutes
  tox.ini
Labels: cicd

#504 Add transpilation to cutqc evaluation
  circuit_knitting/cutting/cutqc/wire_cutting_evaluation.py
  docs/circuit_cutting/cutqc/tutorials/tutorial_1_automatic_cut_finding.ipynb
  docs/circuit_cutting/cutqc/tutorials/tutorial_2_manual_cutting.ipynb
Labels: cutqc

#520 Add automated cut-finding module
  .github/workflows/lint.yml
  circuit_knitting/cutting/__init__.py
  circuit_knitting/cutting/automated_cut_finding.py
  circuit_knitting/cutting/cut_finding/__init__.py
  circuit_knitting/cutting/cut_finding/best_first_search.py
  circuit_knitting/cutting/cut_finding/cco_utils.py
  circuit_knitting/cutting/cut_finding/circuit_interface.py
  circuit_knitting/cutting/cut_finding/cut_optimization.py
  circuit_knitting/cutting/cut_finding/cutting_actions.py
  circuit_knitting/cutting/cut_finding/disjoint_subcircuits_state.py
  circuit_knitting/cutting/cut_finding/lo_cuts_optimizer.py
  circuit_knitting/cutting/cut_finding/optimization_settings.py
  circuit_knitting/cutting/cut_finding/search_space_generator.py
  docs/circuit_cutting/tutorials/04_automatic_cut_finding.ipynb
  releasenotes/notes/automatic-cut-finding-696556915e347138.yaml
  test/cutting/cut_finding/__init__.py
  test/cutting/cut_finding/test_best_first_search.py
  test/cutting/cut_finding/test_cco_utils.py
  test/cutting/cut_finding/test_circuit_interfaces.py
  test/cutting/cut_finding/test_cut_finder_results.py
  test/cutting/cut_finding/test_cutting_actions.py
  test/cutting/cut_finding/test_disjoint_subcircuits_state.py
  test/cutting/cut_finding/test_optimization_settings.py
  test/cutting/test_cutting_decomposition.py
  test/cutting/test_find_cuts.py
  test/qasm_circuits/circuit_find_cuts_test.qasm
Labels: enhancement, cutting, cut finder

#522 Enable pylint rules to prefer list and dict literal syntax
  circuit_knitting/cutting/cut_finding/best_first_search.py
  circuit_knitting/cutting/cut_finding/circuit_interface.py
  circuit_knitting/cutting/cut_finding/cutting_actions.py
  circuit_knitting/cutting/cut_finding/disjoint_subcircuits_state.py
  circuit_knitting/cutting/cut_finding/lo_cuts_optimizer.py
  circuit_knitting/cutting/cut_finding/search_space_generator.py
  circuit_knitting/cutting/cutqc/wire_cutting.py
  tox.ini
Labels: code quality
